[Unit]
Description=GoCD-Agent
After=amazon-cloudwatch-agent.service

[Service]
User=ec2-user
ExecStart=/home/ec2-user/inst/gocd_restart.sh client

[Install]
WantedBy=multi-user.target
